#containerMaster{
    overflow: hidden;
    position: relative;
    background-color: rgba(43, 9, 75, 0.736);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    display: flex;
    width: 500px;
    flex-direction: column;
    align-content: flex-start;
    height: auto;
    border-style: solid;
    border-color: rgb(197, 115, 237 , 28%);
    box-shadow: 6px 7px 10px 2px rgb(73 2 110 / 80%);
}
